---
---

@import "{{ site.theme }}";

$color-light:       #fefdf0;
$color-cream:       darken($color-light, 10%);
$color-dark:        #404e4f;
$color-gray-light:  lighten($color-dark, 50%);
$color-gray-lighter:lighten($color-dark, 65%);

$color-orange:      #d72;
$color-blue:        #37c;
$color-blue-light:  lighten($color-blue, 10%);
$color-purple:      #73c;


body {
  background-color: light;
  padding: 0;
  margin: 0;

  font-family: 'Crimson Text', serif;
  font-size: 98.25%;
  color: $color-dark;

  transition: all .5s;
}
p {
  margin: 0 0 1em;
}
a {
  color: $color-blue;

  &:hover {
    color: $color-blue-light;
    // text-decoration: underline;
  }
}
h1, h2, h3 {
  margin-top: 2em;
}
h1,
h2.like-h1 {
  font-size: 2.25em;
}
h2 {
  font-size: 1.75em
}
hr {
  margin: .5em 0;
}

img {
  max-height: 80vh;
  border: 1px solid $color-gray-lighter;
}
img + em {
  display: block;
  position: relative;
  top: -5px;

  opacity: .9;
  font-size: 92%;
}
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}
.flexbox {
  display: flex;
}
.flex {
  flex: 1;
}
.align-baseline {
  align-items: baseline;
}

.align-right {
  text-align: right;
}

header {
  ol {
    padding-left: 1em;
    margin-left: 3px;
  }
  li {
    list-style-type: circle;
    width: auto;
    height: auto;
    float: none;
    border: 0;
  }
}
footer {
  bottom: 2em;
}
.wrapper {
  position: relative;
  z-index: 10;
  width: 92vw;

  margin-top: 12em;
}
main {
  position: relative;
  z-index: 10;

  margin-left: calc(270px + 2.5vw);
  margin-bottom: 2em;
}
.disclaimer {
  opacity: .9;
  font-style: italic;
}
section {
  width: auto;
  max-width: 720px;

  border: 1px solid $color-gray-light;
  border-width: 0 0 1px 1px;
  border-radius: 2px;
  padding: 1.2em 0 3em 1.8em;
  float: none;
}
.topline {
  height: 10em;
  bottom: auto;

  border-bottom: 13px solid $color-gray-light;
  background: url(../img/frieze.jpg);
  background-size: cover;
  background-position: center;
      box-shadow: 0 0 1em rgba($color-gray-light, .33);
}

.title {
  font-size: 4em;
  line-height: 1em;
}
.subtitle {
  font-size: 2.1em;
  font-weight: bold;
  margin-bottom: 1em;
}
.dispatch-list {
  min-width: 225px;
  max-height: calc(100vh - 500px);
  overflow: auto;
}

.timestamp {
  margin-left: 1em;
  text-align: right;

  color: $color-orange;
}

@media print, screen and (max-width: 960px) {
  body {
    font-size: 96%;
  }

  div.wrapper {
    width: 92vw;
    margin: 12em auto 0;
  }

  header {
    width: 250px;
    float: left;
    position: fixed;
  }
  .title {
    font-size: 3.3em;
    line-height: 1em;
  }
  .subtitle {
    font-size: 1.7em;
  }
  footer {
    width: 270px;
    float: left;
    position: fixed;
  }

  main {
    margin-left: calc(250px + 2vw);
  }
  section {
    padding-left: 1.5em;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    font-size: 94.5%;
  }

  .hide-mobile {
    display: none;
  }
  .sm-flexbox {
    display: flex;
    flex-wrap: wrap;
  }

  header {
    width: auto;
    float: none;
    position: relative;
    display: flex;
    align-items: baseline;

    background: $color-gray-lighter;
    margin: -2em -4vw 0;
    padding: 2em 4vw 0;

    ol {
      padding-left: 3em;
    }
  }
  .title {
    font-size: 3.3em;
    line-height: 1em;
  }
  .subtitle {
    font-size: 1.7em;
  }

  main {
    margin-left: 0;
  }
  section {
    padding-left: 1em;
    padding-right: .25em;
  }
}
