<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    {% seo %}
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{ '/js/infinite-scroll.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% feed_meta %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108425128-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-108425128-1');
    </script>
  </head>
  <body>
    <div class="topline overlay"></div>
    <div class="wrapper">
      <header class="sm-flexbox">
        <div class="flex">
          <div class="title"><a href="/sea/">Dispatches</a></div>
          <div class="subtitle"><a href="/sea/">from Southeast Asia</a></div>
        </div>
        <!--<p>{{ site.description | default: site.github.project_tagline }}</p>-->

        <div class="dispatch-list">
          <ol>
          {% for post in site.posts %}
            <li>
              <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
              <span class="hide-mobile">({{ post.date | date: "%b %e" }})</span>
            </li>
          {% endfor %}
          </ol>
        </div>

		<!--
        {% if site.github.is_project_page %}
          <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ github_name }}</small></a></p>
        {% endif %}
		-->

		<!--
        {% if site.github.is_user_page %}
          <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}
        -->
        <footer class="hide-mobile">
          <p>
            <a href="{{ '/feed.xml' | relative_url }}">RSS Feed</a>
            <hr>
            {% if site.github.is_project_page %}
            Maintained by <a href="{{ site.github.owner_url }}">Jon Geyer</a>
            {% endif %}
          </p>
        </footer>
      </header>

      <main class="">
      {{ content }}
      </main>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <!-- <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script> -->
  {% endif %}
  </body>
</html>
